.calendar-container,
.tasks-container {
  padding: 1rem 0;
  max-width: 500px;
  margin: 0 auto;

  /* border-bottom: 1px solid var(--color-surface-mixed-600); */
}

.calendar-grid-week {
  transition: all 200ms ease-in;
}

.full-month:not(.current-week) {
  max-height: 100rem;
  animation: grow-it 400ms;
}


.hide-week:not(.current-week) {
  max-height: 0;
  margin-bottom: 0 !important;
  animation: shrink-it 400ms;
}

@keyframes shrink-it {

  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

@keyframes grow-it {

  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.view-full-month-button {
  background: none;
  margin: 0 auto;
  margin-bottom: .5rem;
  padding: .1rem;
  display: block;
}

.view-full-month-button svg {
  transition: transform 200ms ease-in;
}

.view-full-month-button-expanded svg {
  transform: rotate(180deg);
}

.move-date-button-icon {
  width: 12px;
}

.move-date-button {
  font-size: 12px;
  margin: 2px;
  /* padding: 10px 12px !important; */
}

.move-date-buttons {
  /* white-space: nowrap; */
}

.calendar-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-month-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}


.task-participants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  transition: background-color 100ms ease-in;
  padding: .5rem;
  border-radius: 4px;

}

.task-participants:hover {
  background-color: var(--color-primary-700);
}

.calendar-grid-week {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  grid-template-columns: repeat(7, minmax(0, 2rem));
  overflow: hidden;
}

/* 
.calendar-grid-week button {
  justify-self: center;
} */

.tasks {
  overflow: hidden;
}

.task {
  font-weight: bold;
}

.award {
  padding: 1rem 0;
  font-weight: 300;
  font-size: .8rem;
}

.task-participants {}



.calendar-week-weekday-label {
  font-size: .6rem;
  text-transform: uppercase;
  text-align: center;
  /* width: 100%; */
}


/*.weekly-day,*/
button.monthly-day {
  margin: 0;
  padding: 0;
  /* border: 1px solid grey; */
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  /* max-width: 5rem;
  max-height: 5rem; */
  height: 100%;
  /* min-height: 2rem;
  min-width: 1rem; */
  width: 100%;
  /* aspect-ratio: 1 / 1; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.monthly-day-label {
  font-size: 0.8rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-surface-mixed-600);
}

.current-month .monthly-day-label {
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.button {
  background: none;
  outline: none;
  overflow: hidden;
}

.button:focus,
.button:focus-visible {
  outline: none;
}

.button:hover,
.button {
  border: none !important;
}

.button:not(.no-day):hover .monthly-day-label {
  background-color: var(--color-primary-600);
}


.today .monthly-day-label {
  background-color: var(--color-primary-100);

}
