.config {
  min-width: 20rem;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  flex: 0 0 3.5rem;
}

.section {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.drag-icon {
  margin-right: 1rem;
}

.dragged {
  color: var(--color-primary-300);
}

.color-input {
  padding: 0 !important;
}

:global .dragged-over * {
  pointer-events: none;
}

:global .dragged-over {
  color: salmon;
}
