.close-button {
  background: none;
  font-size: 2rem;
  padding: 0;
  outline: none;
  right: 0;
  overflow: hidden;
  border: none;
  right: 10px;
  position: absolute;
}
.close-button:focus,
.close-button:focus-visible {
  outline: none;
}
.close-button:hover {
  border: none;
  color: salmon;
}
.dialog {
  width: max(20rem, 80%);
  top: 20%;
  margin: 0 auto;
  border-radius: 1rem;
  border: none;

  box-shadow: var(--box-shadow-2xl);
}

.header {
  position: relative;
  height: 3rem;
}
