.close-button {
  background: none;
  font-size: 2rem;
  padding: 0;
  outline: none;
  overflow: hidden;
  border: none;
  right: 10px;
  position: absolute;
}

.close-button:focus,
.close-button:focus-visible {
  outline: none;
}

.close-button:hover {
  border: none;
  color: salmon;
}

.option-button {
  background: none;
  font-size: 4rem;
  padding: 1rem 2rem;
}

.dialog {
  width: max(20rem, 80%);
  top: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
  border: none;
  padding: 1rem;

  box-shadow: var(--box-shadow-2xl);
}

.header {
  position: relative;
  height: 3rem;
}

.options {
  display: flex;
  align-items: center;
  flex-direction: column;
}
