.header {
	/* padding: 1rem; */
	box-shadow: var(--box-shadow-sm);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 2rem;
	padding: .5rem;
	top: 5px;
	position: relative;
}
