.close-button {
  background: none;
  font-size: 2rem;
  padding: 0;
  outline: none;
  overflow: hidden;
  border: none;
  right: 10px;
  position: absolute;
}

.close-button:focus,
.close-button:focus-visible {
  outline: none;
}

.close-button:hover {
  border: none;
  color: salmon;
}

.option-button {
  background: none;
  flex-grow: 1;
  padding: 1rem;
}

.participant-switch {
  background: none;
  padding: 1rem 2rem;
}

.vote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.dialog {
  top: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
  border: none;
  padding: 1rem;

  box-shadow: var(--box-shadow-2xl);
}

.header {
  position: relative;
  height: 3rem;
}

.options {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

@media (min-width: 450px) {
  .options {
    flex-direction: row;
  }

}

.participants {

  display: flex;
  flex-direction: column;
}

.participant-vote {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  gap: 2rem;
}

.participant-vote :first-child {
  text-align: left;
}

.assessment-content {
  text-align: center;
}

.content {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
}
