.close-button {
  background: none;
  font-size: 2rem;
  padding: 0;
  outline: none;
  overflow: hidden;
  border: none;
  right: 10px;
  position: absolute;
}

.close-button:focus,
.close-button:focus-visible {
  outline: none;
}

.close-button:hover {
  border: none;
  color: salmon;
}

.option-button {
  background: none;
  font-size: 3rem;
  padding: 1rem 2rem;
}

.vote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.dialog {
  min-width: 25rem;
  top: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
  border: none;
  padding: 1rem;

  box-shadow: var(--box-shadow-2xl);
}

.header {
  position: relative;
  height: 3rem;
}

.options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.participant-vote {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}

.participant-vote :first-child {
  text-align: left;
}

.assessment-content {
  text-align: center;
}
