.buttons {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 0.5rem;
}

.description {
	width: 100%;
}

.dates-fields {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
}
