.section-header {
	min-height: 3.8rem;
}

.reward-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.reward-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.reward-description {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.additional-description {
	margin-left: 1.5rem;
	font-size: 0.8rem;
	color: var(--color-surface-600);
}

.highlight-description {
	font-weight: bold;
}

.filter {
	margin-top: -2rem;
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

button.filter-active {
	background: var(--white-text-color);
	color: var(--black-text-color);
	box-shadow: var(--box-shadow-inner);
}



/* 
@keyframes shake {
	0% {
		transform: rotate(0deg);
	}

	5%,
	15%,
	25%,
	35%,
	45% {
		transform: rotate(-5deg);
	}

	10%,
	20%,
	30%,
	40% {
		transform: rotate(5deg);
	}

	46% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

 */
