button.settings-button {
	background: transparent;
	color: var(--black-text-color);
	box-shadow: var(--box-shadow-sm);
}

.close-button {
	background: none;
	font-size: 2rem;
	padding: 0;
	outline: none;
	overflow: hidden;
	border: none;
	right: 2rem;
	position: absolute;
}

.close-button:focus,
.close-button:focus-visible {
	outline: none;
}

.close-button:hover {
	border: none;
	color: salmon;
}

.dialog {
	/* top: 1rem; */
	/* margin: 2rem auto; */
	margin: auto;
	border-radius: 1rem;
	border: none;
	height: 90%;
	max-width: 800px;
	width: 95%;
	box-shadow: var(--box-shadow-2xl);
	overflow: hidden;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 3rem;
	padding: 2rem;
}

.content {
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	height: 100%;
}

.field {
	max-width: 20rem;
}

.threshold {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.information {
	color: var(--color-surface-600);
}
