.home-links-section {
	margin: 0 auto;
	padding: 2rem;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
}

.motd {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: .5rem;
	font-size: 1.5rem;
	flex: 1 1 450px;
}

.firstRow {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 2rem 0;
}

.home {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 2rem;
}
