:root {
  --white-text-color: white;
  --black-text-color: #213547;
  /** CSS THEME PRIMARY COLORS */
  --color-primary-100: #1ea7fd;
  --color-primary-200: #46b7fd;
  --color-primary-300: #6fc7fe;
  --color-primary-400: #97d6fe;
  --color-primary-500: #c0e6fe;
  --color-primary-600: #d4eeff;
  --color-primary-700: #e8faff;
  --color-primary-800: #f5fdff;

  /** CSS THEME SURFACE COLORS */
  --color-surface-100: #09133b;
  --color-surface-200: #25284f;
  --color-surface-300: #3e3f63;
  --color-surface-400: #575778;
  --color-surface-500: #72718d;
  --color-surface-600: #8c8ba3;
  /** CSS THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #281c3c;
  --color-surface-mixed-200: #3d314f;
  --color-surface-mixed-300: #534863;
  --color-surface-mixed-400: #6a5f78;
  --color-surface-mixed-500: #81788d;
  --color-surface-mixed-600: #9991a3;
}
